# Numpy

## Задание 1

In [1]:
import numpy as np
a = np.array([[1,6],[2,8],[3,11],[3,10],[1,7]])

In [2]:
a

array([[ 1,  6],
       [ 2,  8],
       [ 3, 11],
       [ 3, 10],
       [ 1,  7]])

In [3]:
b = a[0:,0]

In [4]:
b.mean()

2.0

In [5]:
c = a[0:,1]

In [6]:
c.mean()

8.4

In [7]:
mean_a = [b.mean(), c.mean()]

In [8]:
mean_a

[2.0, 8.4]

## Задание 2

In [9]:
a_centered = a - mean_a

In [10]:
a_centered

array([[-1. , -2.4],
       [ 0. , -0.4],
       [ 1. ,  2.6],
       [ 1. ,  1.6],
       [-1. , -1.4]])

## Задание 3

In [11]:
a_centered_sp = a_centered[0:,0] @ a_centered[0:,1]
a_centered_sp

8.0

In [12]:
cov_a = a_centered_sp / (a.shape[0] - 1)
cov_a

2.0

## Задание 4

In [13]:
cov_a_check = np.cov(a.transpose())
cov_a_check [0, 1]

2.0

In [14]:
cov_a == cov_a_check[0, 1]

True

# Pandas

## Задание 1

In [15]:
import pandas as pd

In [18]:
authors = pd.DataFrame({'author_id': [1,2,3], 'author_name':['Тургенев', 'Чехов', 'Островский']})
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [25]:
books = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3],
                     'book_title':['Отцы и дети',
                                   'Рудин',
                                   'Дворянское гнездо',
                                   'Толстый и тонкий',
                                   'Дама с собачкой',
                                   'Гроза',
                                   'Таланты и поклонники'],
                     'price':[450, 300, 350, 500, 450, 370, 290]})
books

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

## Задание 2

In [28]:
authors_price = pd.merge(authors, book, on = 'author_id', how = 'inner')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [36]:
top5 = authors_price.sort_values(by='price', ascending = False).head()
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350